@page
@model CapitalUniversityDebate.Pages.AboutModel
@{
}
<div class="text-center">
    <h1 class="display-4">the about page!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>