@page
@model CapitalUniversityDebate.Pages.HistoryModel
@{
}

<div class="text-center">
    <h1 class="display-4">la page d'histoire!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>